<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>
<form method="post" action="/checking">
    <div class="row">

        <div >
            <p>
                <select  name="type">
                    <option value="supportAdmin">پشتیبانی</option>
                    <option value="developer">توسعه گر</option>
                    <option value="client">کارفرما</option>
                    <option value="manager">مدیریت</option>
                </select>
                <input  type="text" nid="username" name="username" value="" placeholder="Enter username:" />
                <input  type="text" nid="password" name="password" value="" placeholder="Enter password: " />
            </p>

        </div>

        <div >
            <ul class="actions">
                <li><button type="submit" name="action" >Calculate</button></li>
            </ul>
        </div>
    </div>
</form>
</body>
</html>